version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: ai_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: imagesearch
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: ai_redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  pgdata:
